
<form method="POST" action="/createRelationship">
  <div>
    <label for="person">Family Tree Name:</label>
    <!-- create a drop down with values from names -->
    <select name="person">
      
      <% for (var i = 0; i < people.length; i++) { %>
        <option value="<%= people[i].name %>"><%= people[i].name %></option>
      <% } %>
    </select>
    <br><br>
    <label for="relationship">Relationship:</label>
    <select name="relationship">
      <!-- static values -->
      <option value="Parent">Parent</option>
      <option value="Spouse">Spouse</option>
      <option value="Sibling">Sibling</option>
    </select>
    <br><br>
    <label for="relatedperson">Family Tree Name:</label>
    <!-- create a drop down with values from names -->
    <select name="relatedperson">
      <% for (var i = 0; i < people.length; i++) { %>
        <option value="<%= people[i].name %>"><%= people[i].name %></option>
      <% } %>
    </select>
  </div>
  <button type="submit">Create Relationship</button>
  <% if (typeof errorMessage !== 'undefined') { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>
 
</form>
