<!DOCTYPE html>
<html>
<head>
  <title>Relationship Input</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home(&#x1F3E0;)</a></li>
      <li><a href="/profile">Your Trees (&#x1F332;)</a></li>
      <li><a href="/createTree">Create Tree</a></li>
      <li><a class="active" href="/createRelationship">Create Relationship</a></li>
    </ul>
  </nav>
<form method="POST" action="/createRelationship">
  <div>
    <label for="person">Person:</label>
    <!-- create a drop down with values from names -->
    <select name="person">
      
      <% for (var i = 0; i < people.length; i++) { %>
        <option value="<%= people[i].name %>"><%= people[i].name %></option>
      <% } %>
    </select>
    <br><br>
    <label for="relationship">Relationship:</label>
    <select name="relationship">
      <!-- static values -->
      <option value="Parent">Parent</option>
      <option value="Spouse">Spouse</option>
      <option value="Sibling">Sibling</option>
    </select>
    <br><br>
    <label for="relatedperson">Related Person:</label>
    <!-- create a drop down with values from names -->
    <select name="relatedperson">
      <% for (var i = 0; i < people.length; i++) { %>
        <option value="<%= people[i].name %>"><%= people[i].name %></option>
      <% } %>
    </select>
  </div><br>
  <button type="submit">Create Relationship</button>
  <% if (typeof errorMessage !== 'undefined') { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>
 
</form>
</body>
</html>