<!DOCTYPE html>
<html>
<head>
  <title>Relationship Input</title>
</head>
<!-- use page.css from css folder -->
<link rel="stylesheet" type="text/css" href="/css/page.css">
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Your Trees</a></li>
        <li><a href="/createTree">Create Tree</a></li>
      <li>
        <form class="logout-form" action="/logout?_method=DELETE" method="post">
          <button type="submit" class="logout-button">Logout</button>
        </form>
      </li>
    </ul>
  </div>
<form method="POST" action="/createRelationship">
  <div>
    <label for="person">Family Tree Name:</label>
    <!-- create a drop down with values from names -->
    <select name="person">
      
      <% for (var i = 0; i < people.length; i++) { %>
        <option value="<%= people[i].name %>"><%= people[i].name %></option>
      <% } %>
    </select>
    <br><br>
    <label for="relationship">Relationship:</label>
    <select name="relationship">
      <!-- static values -->
      <option value="Parent">Parent</option>
      <option value="Spouse">Spouse</option>
      <option value="Sibling">Sibling</option>
    </select>
    <br><br>
    <label for="relatedperson">Family Tree Name:</label>
    <!-- create a drop down with values from names -->
    <select name="relatedperson">
      <% for (var i = 0; i < people.length; i++) { %>
        <option value="<%= people[i].name %>"><%= people[i].name %></option>
      <% } %>
    </select>
  </div>
  <button type="submit">Create Relationship</button>
  <% if (typeof errorMessage !== 'undefined') { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>
 
</form>
</body>
</html>