<!DOCTYPE html>
<html>
<head>
  <title>Delete Relationship</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home(&#x1F3E0;)</a></li>
      <li><a href="/profile">Your Trees (&#x1F332;)</a></li>
      <li><a href="/createTree">Create Tree</a></li>
      <!-- <li><a class="active" href="/createRelationship">Create Relationship</a></li> -->
    </ul>
  </nav>
  <h1>Removing Family Member For <%= tree_name %></h1>
<form method="POST" action="/deleteFamilyMember/<%= tree_name%>">
  <div>
    <label for="person">Person:</label>
    <!-- create a drop down with values from names -->
    <select name="person">
      
      <% for (var i = 0; i < people.length; i++) { %>
        <option value="<%= people[i].name %>"><%= people[i].name %></option>
      <% } %>
    </select>

    <label for = "dob">Date of Birth:</label>
    <input type="date" id="dob" name="dob" required>
        
  </div><br>
  <button type="submit">Remove Person</button>
  <% if (typeof errorMessage !== 'undefined') { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>
  <% if (typeof successMessage !== 'undefined') { %>
    <p class="success"><%= successMessage %></p>
  <% } %>
</form>
</body>
</html>