<html>
<head>
  <title>Your Trees</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home(&#x1F3E0;)</a></li>
      <li><a class="active" href="/profile">Your Trees (&#x1F332;)</a></li>
      <li><a href="/createTree">Create Tree</a></li>
      <!-- <li><a href="/createRelationship">Create Relationship</a></li> -->
    </ul>
  </nav>
  <h1>Below are The Trees with their appropriate access</h1>
  <table class="table">
    <thead>
      <tr>
        <th>TREE NAME</th>
        <th>VIEW</th>
        <th>MEMBERS</th>
        <th>RELATIONSHIPS</th>
        <th>DELETE TREE</th>
        <th>INVITE</th>
      </tr>
    </thead>
    <tbody>
      <% for (let tree of coaches) { %>
        <tr>
          <td><%= tree.tree_name %></td>
          <!-- <td><%= tree.access_level %></td> -->
          
            <% if (tree.access_level === 'view') { %>
              <td>
                <a href="/createFamily/<%= tree.tree_name %>" class="btn btn-primary">View</a>
              </td>
              <td>
                <p>No &#10060;</p>
              </td>
              <td>
                <p>Nope &#10060;</p>
              </td>
              <td>
                <p>No Damn Way &#10060;</p>
              </td>
              <td>
                <p>Not Happening &#10060;</p>
              </td>
              
            <% } else if (tree.access_level === 'edit') { %>
              
              <td><a href="/viewTree/<%= tree.tree_name %>" class="btn btn-warning">View</a></td>
              <td>
                <a href="/createFamily/<%= tree.tree_name %>" class="btn btn-warning">ADD</a>
                <a href="/editFamilyMember/<%= tree.tree_name %>" class="btn btn-warning">EDIT</a>
                <a href="/deleteFamilyMember/<%= tree.tree_name %>" class="btn btn-warning">REMOVE</a>
              </td>
              <td>
                <a href="/createRelationship/<%= tree.tree_name %>" class="btn btn-warning">ADD</a>
                <a href="/deleteRelationship/<%= tree.tree_name %>" class="btn btn-warning">DELETE</a>
              </td>
              <td><a href="/deleteTree/<%= tree.tree_name %>" class="btn btn-danger">Delete</a></td>
              <td>
                <a href="/invite/<%= tree.tree_name %>" class="btn btn-warning">Invite</a>
              </td>
            <% } %>
          
        </tr>
      <% } %>
    </tbody>
  </table>

 
</body>
</html>



<!-- This is a test comment -->