<html>
<head>
  <title>Your Trees</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home(&#x1F3E0;)</a></li>
      <li><a class="active" href="/profile">Your Trees (&#x1F332;)</a></li>
      <li><a href="/createTree">Create Tree</a></li>
      <!-- <li><a href="/createRelationship">Create Relationship</a></li> -->
    </ul>
  </nav>
  <h1>Below are The Trees with their appropriate access</h1>
  <table class="table">
    <thead>
      <tr>
        <th>TREE NAME</th>
        <th>VIEW</th>
        <th>ADD MEMBERS</th>
        <th>EDIT RELATIONSHIPS</th>
        <th>DELETE</th>
      </tr>
    </thead>
    <tbody>
      <% for (let tree of coaches) { %>
        <tr>
          <td><%= tree.tree_name %></td>
          <!-- <td><%= tree.access_level %></td> -->
          
            <% if (tree.access_level === 'view') { %>
              <a href="/tree/<%= tree.id %>/view" class="btn btn-primary">View</a>
            <% } else if (tree.access_level === 'edit') { %>
              
              <td><a href="/createFamily/<%= tree.tree_name %>" class="btn btn-warning">View</a></td>
              <td><a href="/createFamily/<%= tree.tree_name %>" class="btn btn-warning">Add</a></td>
              <td><a href="/createRelationship/<%= tree.tree_name %>" class="btn btn-warning">Edit</a></td>
              <td><a href="/deleteTree/<%= tree.tree_name %>" class="btn btn-danger">Delete</a></td>
            <% } %>
          
        </tr>
      <% } %>
    </tbody>
  </table>

 
</body>
</html>



<!-- This is a test comment -->